.bestiaryBG {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../assets/images/Space_bestiary.png");
    background-position: center;
    background-repeat: repeat;
    z-index: -100;
}

.bestiaryHeader {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #B03636;
}

.bestiaryMessage {
    font-size: 20px;
    text-align: center;
}

.returnHome {
    font-size: 22px;
    color: rgb(43, 30, 156);
    transition: all 100ms ease-in-out;
    width: 100%;
    text-align: center;
}

.returnHome:hover {
    font-size: 24px;
    color: rgb(58, 37, 253);
}

.returnHome:active {
    transform: translateY(2px);
}

.bestiaryPanelHolder {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bestiaryPanel {
    width: 50%;
    
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    /* position: fixed; */
    /* left: 0; */
    margin-top: 20vh;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.allSpriteHolder {
    width: fit-content;
    height: fit-content;
    /* margin: 15px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sprite {
    width: 130px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spriteIcon {
    width: 100px;
    aspect-ratio: 1;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 10px white;
    transition: width 150ms ease-in-out;
    animation: spriteLoad 1s ease-in-out;
}

.spriteIcon:hover {
    width: 120px;
}

@keyframes spriteLoad {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .bestiaryPanel {
        width: 85%;
        
        height: 70vh;
        background: rgba(0, 0, 0, 0.8);
        /* position: fixed; */
        /* left: 0; */
        margin-top: 20vh;
        box-shadow: 0px 0px 10px white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
}