* {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    user-select: none;
}

body {
    /* background-color: black; */
    /* z-index: -10; */
    background-image: url("../assets/images/Space.png");
    background-position: left;
    background-repeat: repeat;
    color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.createPanel {
    width: 600px;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: left 1s ease-in-out;
    transition-delay: 500ms;
}

.createPanel[data-visible="false"] {
    width: 600px;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: -100%;
    top: 0;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: left 1s ease-in-out;
    transition-delay: 0s;
}

.loginPanel {
    width: 600px;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: left 1s ease-in-out;
    transition-delay: 500ms;
}

.loginPanel[data-visible="false"] {
    width: 600px;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: -100%;
    top: 0;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: left 1s ease-in-out;
    transition-delay: 0s;
}




.createHeader {
    width: 100%;
    text-align: center;
    font-size: min(40px, 5vw);
    /* margin-top: 5vh; */
}

.formHolder {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.userEntryForm {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px white;
    padding: 15px;
}

.formSect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
}

.formHeader {
    width: 35%;
    text-align: left;
    font-size: 16px;
}

.input {
    width: 50%;
    height: 2rem;
    margin-left: 15%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 16px;
}

#submitLogin {
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    background: none;
    border: none;
    color: rgb(35, 139, 236);
    cursor: pointer;
}

#submitLogin:active {
    transform: translateY(2px);
}

.swapLogin {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 23px;
}

.alreadyHead {
    width: 100%;
    text-align: center;
    color: rgb(128, 128, 128);
}

.swapBTN {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    text-decoration: underline 1px white;
    color: white;
    cursor: pointer;
}

.swapBTN:active {
    transform: translateY(2px);
}










